#heading {
    color: hsl(258, 100%, 50%);
    font-size: 60px;
    font-style: italic;
    text-align: center;
}
.heading {
    color: #ff0000;
    font-size: 50px;
    font-style: italic;
    text-align: center;
}